<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Coda+Caption:800|Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="Contact_form_style.css">
    <link rel="stylesheet" href="{{ url_for ("static", filename = "css/index_style.css")}}">
  </head>
  <body>
    <div id="contact-form">
    <form method="post" action="/confirmation3">
        <label for="name">name:</label>
        <input type="text" id="name" name="name" required="required">
        <label for="answer">What is 6+5:</label>
        <input type="text" id="answer" name="answer" required="required">
        <input type="submit" id="submit-button" name="submit" value="Submit" >
    </form>
    </div>
  </body>
</html>
